<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
        <div class="form">
            <h1>Вход</h1>
        <form method="POST" action="/login">
            <label for="email">Email:</label>
            <div class form-input><input type="email" name="email" required></div>
            <br>
    
            <label for="password">Пароль:</label>
            <div class form-input><input type="password" name="password" required></div>
            <br>
            
            <button type="submit">Войти</button>
        </form>
        </div>
</body>
</html>