body {
    background-image: url(../img/wow1.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.form {
    margin: 15px 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .7);
    width: 1000px;
    height: 600px;
    border-radius: 5%;
}

.form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.form a {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}